.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  position: sticky;
  margin-left: 50%;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
