.App {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  position: sticky;
  margin-left: 50%;
}

.logo {
  width: 18%;
  height: 15%;
   display: flex;
  /*position: fixed;
  align-items: center;
  justify-content: center; */
  margin-left: 40rem;
}
