.App {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  position: static;
  margin-left: 1%;
  color: aliceblue;
}
